.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right img{
  transform: scaleX(-1);
}

.fighter-preview___img{
  height: 250px;
}

.fighter-preview___info,
.fighter-preview___name{
  text-shadow:   6px 6px 7px rgba(0, 0, 0, 0.75);
  font-family: 'Arial Black';
  font-weight: bold;
  color: #ba0303;
  -webkit-text-fill-color: #f8f9f4;
  -webkit-text-stroke-width: .5px;
}

.fighter-preview___name{
  color: #ba0303;
  letter-spacing: 4px;
  font-size: 20px;
}
